
/* 헤더(높이 60px, sticky로 고정), 사이드바(높이 1vh-60px, sticky로 고정), 컨텐츠(width 100%만) */

/* 맨 위로 */

/* 모달 (오버레이, 창) */

/* 메인버튼 */
/* 서브버튼 */
/* 화이트버튼 */

/* 페이지 타이틀 */
/* 페이지 서브타이틀 */
/* 카드 타이틀 */
/* 카드 서브타이틀 */

/* 테이블 */

/* 페이지네이션 */

/* =========================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%
}

button {
  all: unset;
  cursor: pointer;
  
  border: none;
}

li {
	list-style : none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

textarea {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent; 
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea:focus {
  outline: none; 
}

textarea {
	width: 100%;
	padding: 15px;
	
	border: 1px solid var(--dark-gray);
	border-radius: 6px;
	
	font-size: 14px;
	
	background-color: #fff;
}

textarea:focus {
	border-color: var(--main-green);
}


/* ==============================
   색상
============================== */

:root {
    --main-green: #2E6F4E;
    --main-green-hover: #255B40;

    --sub-green: #6C9A8B;
    --sub-green-hover: #5C8678;

    --white-hover: #eee;
	

    --dark-gray: #aaa;
    --gray: #ddd;
    --light-gray: #eee;

    --success: #2E7D32;
    --success-back: #D0F4D1;
    --warning: #F9A825;
    --warning-back: #FFE5BC;
    --danger: #D32F2F;
    --danger-back: #FFD2D2;
    --safe: #2B8EFF;
    --safe-back: #C7E1FF;
    --info: #aaa;
    --info-back: #e8e8e8;

    --fin: #2B8EFF;

    --main-red: #D32F2F;
    --main-red-hover: #C22828;
    --sub-red: #FFD0D0;
    
    --main-orange: #F9A825;
    --main-orange-hover: #E2900C;
}


/* ==============================
   HEADER / SIDEBAR / CONTENT
============================== */

.content {
    width: 100%;
    padding: 24px;
}


/* ==============================
   TOP BUTTON
============================== */

.btn-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 1000;

    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;

    background-color: var(--main-green);
    color: #fff;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;
}

.btn-top:hover {
    background-color: var(--main-green-hover);
}


/* ==============================
   BUTTON
============================== */

.btn-row {
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 24px;
}

.btn-row>div {
	display: flex;
	gap: 10px;
}

.btn {
    min-width: 45px;
    height: 36px;
    padding: 5px 15px;

    border-radius: 4px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    box-sizing: border-box;
}

.btn {
	min-width: 25.77px;
}

.btn:hover {
	text-decoration : underline;
}

.btn-main {
    background-color: var(--main-green);
    color: #fff;
}

.btn-main:hover {
    background-color: var(--main-green-hover);
}

.btn-sub {
    background-color: var(--sub-green);
    color: #fff;
}

.btn-sub:hover {
    background-color: var(--sub-green-hover);
}

.btn-white {
    border: 1px solid var(--dark-gray);
    background-color: #fff;
    color: var(--dark-gray);
}

.btn-white:hover {
    background-color: var(--white-hover);
    border-color: var(--main-green);
    color: var(--main-green);
}

.btn-red {
	background-color: var(--main-red);
	color: #fff;
}

.btn-red:hover {
	background-color: var(--main-red-hover);
}

.btn-orange {
	background-color: var(--main-orange);
	color: #fff;
}

.btn-orange:hover {
	background-color: var(--main-orange-hover);
}

.btn-none {
	font-size: 14px;
	color: var(--dark-gray);
	text-decoration: underline;
}

.btn-none:hover {
	color: var(--main-green);
}


/* ==============================
   TITLE
============================== */

.page-title {
    margin: 0 0 6px;

    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
}

.page-subtitle {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-gray);
}

.page-route {
	margin: 0 0 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-gray);
    
    text-align: right;
}

.card-wrap {
	margin: 20px auto 10px;
	
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}

.card {
    padding: 20px 10px;

    border: 1px solid var(--gray);
    border-radius: 8px;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    
    color : #555;
}

.card-value {
	font-size: 30px;
	font-weight: 1000;
}

.card-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    
    text-align: center;

    color: var(--dark-gray);
}

.card.success {
	border: 1px solid var(--success);
}

.card.success .card-value {
	color: var(--success);
}

.card.safe {
	border: 1px solid var(--safe);
}

.card.safe .card-value {
	color: var(--safe);
}

.card.warning {
	border: 1px solid var(--warning);
}

.card.warning .card-value {
	color: var(--warning);
}

.card.danger {
	border: 1px solid var(--danger);
}

.card.danger .card-value {
	color: var(--danger);
}



/* ==============================
   STATUS
============================== */

.status {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 54px;
    height: 26px;
    padding: 0 10px;

    font-size: 12px;
    font-weight: 600;
}

.status-success {
    color: var(--success);
}

.status-warning {
    color: var(--warning);
}

.status-safe {
	color: var(--safe);
}

.status-danger {
    color: var(--danger);
}

.status-info {
    color: var(--info);
}



.status-back {
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 37px;
	
/*     border: 1px solid var(--dark-gray); */
    border-radius: 13px;
    
	background-color: var(--light-gray);
}

.status-back-success {
	color: var(--success);
	background-color: var(--success-back);
}

.status-back-warning {
	color: var(--warning);
	background-color: var(--warning-back);
}

.status-back-safe {
	color: var(--safe);
	background-color: var(--safe-back);
}

.status-back-danger {
	color: var(--danger);
	background-color: var(--danger-back);
}

.status-back-info {
	color: var(--info);
	background-color: var(--info-back);
}


/* ==============================
   TABLE
============================== */

.table-wrap {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 14px;
}

.table th {
    height: 42px;
    padding: 0 12px;

    background-color: var(--main-green);

    color: #fff;
    font-weight: 700;
    text-align: center;
}

.table td {
    height: 42px;
    padding: 0 12px;

	text-align: center;
    border-bottom: 1px solid var(--gray);
}

.table tbody tr:hover {
    background-color: var(--white-hover);
    cursor: pointer;
}

.table tbody tr:last-child td {
    border-bottom: none;
}


/* ==============================
   PAGINATION
============================== */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    margin-top: 24px;
}

.pagination a,
.pagination button {
    min-width: 35px;
    height: 35px;
    padding: 0 10px;

    border: 1.5px solid var(--gray);
    border-radius: 6px;

    background-color: #fff;
    color: #333;
    
    text-align: center;

    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a:hover,
.pagination button:hover {
    background-color: var(--white-hover);
    border-color: var(--main-green);
    color: var(--main-green);
    text-decoration: none;
}

.pagination .active {
    background-color: var(--main-green);
    border-color: var(--main-green);
    color: #fff;
}

.pagination .disabled {
	color: var(--dark-gray);
    pointer-events: none;
}

/* ==============================
   SEARCH
============================== */

.search-box {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    flex-wrap: wrap;

    margin: 0 0 10px auto;
    padding: 20px 0;
	
	width: fit-content;
	max-width: 100%;

    background-color: #fff;
}

.search-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.search-item label {
    font-size: 13px;
    font-weight: 600;

    color: #555;
}

.search-item input,
.search-item select {
    height: 36px;
    padding: 0 12px;

    border: 1px solid var(--dark-gray);
    border-radius: 6px;

    font-size: 14px;

    background-color: #fff;
}

.search-item input:focus,
.search-item select:focus {
    outline: none;
    border-color: var(--main-green);
}

.search-item input {
    min-width: 260px;
}

.search-item input[type="date"] {
	min-width: 150px;
}
.search-item input.short {
	min-width: 220px;
}

.search-item select {
	min-width: 120px;
}

.search-btn-area {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.search-btn-area button {
	box-sizing: border-box;
	
}




/* ==============================
   CONTENT-CONTENT
============================== */

.content-content {
/* 	border: 1px solid red; */
	padding: 20px;
}

.content-content-content {
/* 	border: 1px solid green; */
	margin-bottom: 30px;
}

.content-content-content:last-child {
	margin-bottom: 0;
}

.content-content-content-title {
	margin-bottom: 10px;
	
	font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

.info-table-wrap {
	width: 100%;
	margin-top: 20px;
	
	padding: 0 20px;
}

.info-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	border-top: 1px solid #bdbdbd;
}

.info-table tr {
	border-bottom: 1px solid #bdbdbd;
}

.info-table th,
.info-table td {
	height: 38px;
	padding: 0 14px;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
}

.info-table th {
	width: 16%;
	font-weight: 700;
	color: #222;
	background-color: #fafafa;
}

.info-table td {
	width: 34%;
	color: #333;
	background-color: #fff;
}




/* ==============================
   grid
============================== */

.grid-form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 0 20px;
}

.grid-wrap {
	display: flex;
	gap: 25px;
}

.grid input {
	min-width: 400px;
}

.grid select {
	min-width: 200px;
}

.red {
	color: var(--main-red);
}




/* ==============================
   readonly
============================== */

input[readonly],
textarea[readonly] {
    background-color: var(--light-gray);
    color: #000;
    cursor: not-allowed;
    outline: none;
}

input[readonly]:focus,
textarea[readonly]:focus {
	border-color: var(--dark-gray);
    box-shadow: none;
}




/* ==============================
   overlay, modal
============================== */

.overlay {
	display:none;
	position:fixed;
	inset:0;
	background:rgba(0,0,0,0.45);
	z-index:9999;
	justify-content:center;
	align-items:center;	
}

.modal {
	background:white;
	border-radius:10px;
	padding:30px 40px;
	box-sizing: border-box;
}

.modal-title {
	margin: 0 0 10px;
	font-size:20px;
	font-weight:700;
}

.modal-subTitle {
	color: var(--dark-gray);
	font-size: 14px;
	margin: 0 0 25px;
}

.overlay.active {
	display: flex;
}

body.modal-open {
  overflow: hidden;
}



/* ==============================
   toDetail
============================== */

.toDetail:hover {
	text-decoration: underline;
	color: var(--main-green);
}




/* ==============================
   toDetail
============================== */

.pw-wrap {
	position: relative;
	width: 100%;
}

.pw-wrap input {
	width: 100%;
	padding-right: 45px; /* 눈 아이콘 공간 확보 */
	box-sizing: border-box;
}

.pw-toggle {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);

	border: none;
	background: transparent;
	cursor: pointer;

	font-size: 16px;
	line-height: 1;
	padding: 0;
}

.hidePw {
	display: none;
}


/* ==============================
   Mobile Layout
============================== */

@media screen and (max-width: 768px) {
	
	.page-route {
		font-size: 12px;
	}
	
	.content-content {
		padding: 0px;
	}
	
	
	.search-box {
		gap: 8px;
		justify-content: flex-end;
	}
	
	.search-item input, .search-item select {
		font-size: 12px;
	}
	
	.search-item input {
		min-width: 200px;
	}
	
	.search-item input[type="date"] {
		min-width: 140px;
	}
	
	
	.info-table-wrap {
		padding: 0px;
	}
	
	
	.card {
		padding: 10px 5px;
	}

	.card-title {
		font-size: 12px;
	}
	
	.card-subtitle {
		font-size: 10px;
	}
	
	.modal {
		max-width: 90%;
	}
	
}