/* ==============================
   HEADER DETAIL
============================== */

.header {
	height: 60px;
    padding: 0 24px;

    background-color: #ffffffd4;
    color: var(--main-green);
    box-shadow: 0 2px 8px var(--gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-row {
	display: flex;
	justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    gap: 36px;
}

.header-right {
    gap: 18px;
}

.header-logo {
	height: 60px;
    display: flex;
    align-items: center;
}

.header-logo-img {
    width: 150px;
    height: auto;
    display: block;
    object-fit: contain;
}

.logo-icon,
.logo-text {
    display: none;
}

.header-icon {
    color: #fff;
    font-size: 18px;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 600;
}

.profile-img {
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #e5e5e5;
}

.profile-arrow {
    font-size: 12px;
}